@import "tailwindcss";

/* global CSS or CSS module */
.root-background {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #0b1f3a 0%,     /* deep blue at the top */
    #0b182c 20%,    /* mid-tone */
    #080f1a 100%    /* almost black at bottom */
  );
  z-index: -1;
}

.color-empty { background-color: transparent; }
.color-scale-1 { background-color: #fdeaca; }
.color-scale-2 { background-color: #fbc684; }
.color-scale-3 { background-color: #f1932b; }
.color-scale-4 { background-color: #c1592b; }
